body{
    font-family: Arial;
    background-color: #ededed;
}
#categorie-container{
    display: flex;
    flex-warp: warp;


}
.main-container{
    text-align: center;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.card{
    flex: 1;

    padding: 20px;
    margin: 10px;
    background-color: #DCDCDC;
    border: 1px solid black;
    text-align: center;
    border-radius: 8px;
    
}